### Including Main Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

## Importing Dataset

In [2]:
dataset = pd.read_csv("train.csv")

In [3]:
dataset = dataset.drop('PassengerId', axis=1)
dataset.head(7)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

In [4]:
dataset.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

### Removing the missing data

In [5]:
null_columns=dataset.columns[dataset.isnull().any()]
dataset[null_columns].isnull().sum()

Age         177
Cabin       687
Embarked      2
dtype: int64

In [6]:
dataset[dataset["Embarked"].isnull()]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

Since "Embarked" has only 2 missing values, it wouldn't hurt to replace the values by preceeding/following entries

In [7]:
dataset["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [8]:
dataset["Embarked"] = dataset["Embarked"].fillna(method='bfill')
dataset[null_columns].isnull().sum()

Age         177
Cabin       687
Embarked      0
dtype: int64

Now that that's done, we see that there are too many missing values of "Cabin" to be imputed. What we can do is make it a binary feature, where all instances of a person having a cabin is replaced by 1 and of not having a cabin listed by 0.<br>
0 : Does not have a cabin listed<br>
1 : Has a Cabin listed<br>

In [9]:
cabins = dataset['Cabin'].values
i = 0
while(i < len(cabins)):
    if cabins[i] is np.nan:
        cabins[i] = 0
    else:
        cabins[i] = 1
    i+=1
cabins
#dataset['Cabin']
#dataset['Cabin'] = pd.Series(cabins)

array([0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=object)

In [10]:
dataset['Cabin'] = pd.Series(cabins)
dataset.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,1,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,1,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S

In [11]:
dataset[null_columns].isnull().sum()

Age         177
Cabin         0
Embarked      0
dtype: int64

When it comes to age, the problem is that there are enough missing values that make regular replacement an issue for the predictive model (Model may get wrongly biased).<br>
Now either we replace the values of age with some other value based on a linear regression model that is based on all other columns.<br>
I'm keen on trying multiple Imputation to solve this issue as multiple articles have referenced is relatively low bias on the model. However, to apply such a imputation model, I would have to first further clean the data

One more step that should ideally come under the Data Preprocessing phase is the seperation of "Title" (Mr, Mrs, Master etc) from name. Since all names seem to have a title, it wouldn't hurt to test the statistical importance of the respective titles

In [12]:
titles = []
for name in dataset['Name']:
    fname = name.split(',')
    title = fname[1].split('.')[0]
    titles.append(title)
dataset['Title'] = pd.Series(titles)
dataset = dataset.drop('Name',axis = 1)

In [25]:
ttype = []
for ticket in dataset['Ticket']:
    typetick = ticket.split()[0]
    try:
        int(typetick)
        ttype.append('Regular')
    except:
        ttype.append(typetick)

dataset['TicketType'] = pd.Series(ttype)
dataset.drop('Ticket',axis = 1)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Title,TicketType
0,0,3,male,22.0,1,0,7.2500,0,S,Mr,A/5
1,1,1,female,38.0,1,0,71.2833,1,C,Mrs,PC
2,1,3,female,26.0,0,0,7.9250,0,S,Miss,STON/O2.
3,1,1,female,35.0,1,0,53.1000,1,S,Mrs,Regular
4,0,3,male,35.0,0,0,8.0500,0,S,Mr,Regular
5,0,3,male,NaN,0,0,8.4583,0,Q,Mr,Regular
6,0,1,male,54.0,0,0,51.8625,1,S,Mr,Regular
7,0,3,male,2.0,3,1,21.0750,0,S,Master,Regular
8,1,3,female,27.0,0,2,11.1333,0,S,Mrs,Regular
9,1,2,female,14.0,1,0,30.0708,0,C,Mrs,Regular
10,1,3,female,4.0,1,1,16.7000,1,S,Miss,PP
11,1,1,female,58.0,0,0,26.5500,1,S,Miss,Regular
12,0,3,male,20.0,0,0,8.0500,0,S,Mr,A/5.
13,0,3,male,39.0,1,5,31.2750,0,S,Mr,Regular
14,0,3,female,14.0,0,0,7.8542,0,S,Miss,Regular
15,1,2,female,55.0,0,0,16.0000,0,S,Mrs,Regular
16,0,3,male,2.0,4,1,29.1250,0,Q,Master,Regular
17,1,2,male,NaN,0,0,13.0000,0,S,Mr,Regular
18,0,3,female,31.0,1,0,18.0000,0,S,Mrs,Regular
19,1,3,female,NaN,0,0,7.2250,0,C,Mrs,Regular
20,0,2,male,35.0,0,0,26.0000,0,S,Mr,Regular
21,1,2,male,34.0,0,0,13.0000,1,S,Mr,Regular
22,1,3,female,15.0,0,0,8.0292,0,Q,Miss,Regular
23,1,1,male,28.0,0,0,35.5000,1,S,Mr,Regular
24,0,3,female,8.0,3,1,21.0750,0,S,Miss,Regular
25,1,3,female,38.0,1,5,31.3875,0,S,Mrs,Regular
26,0,3,male,NaN,0,0,7.2250,0,C,Mr,Regular
27,0,1,male,19.0,3,2,263.0000,1,S,Mr,Regular
28,1,3,female,NaN,0,0,7.8792,0,Q,Miss,Regular
29,0,3,male,NaN,0,0,7.8958,0,S,Mr,Regular
...,...,...,...,...,...,...,...,...,...,...,...
861,0,2,male,21.0,1,0,11.5000,0,S,Mr,Regular
862,1,1,female,48.0,0,0,25.9292,1,S,Mrs,Regular
863,0,3,female,NaN,8,2,69.5500,0,S,Miss,CA.
864,0,2,male,24.0,0,0,13.0000,0,S,Mr,Regular
865,1,2,female,42.0,0,0,13.0000,0,S,Mrs,Regular
866,1,2,female,27.0,1,0,13.8583,0,C,Miss,SC/PARIS
867,0,1,male,31.0,0,0,50.4958,1,S,Mr,PC
868,0,3,male,NaN,0,0,9.5000,0,S,Mr,Regular
869,1,3,male,4.0,1,1,11.1333,0,S,Master,Regular
870,0,3,male,26.0,0,0,7.8958,0,S,Mr,Regular
871,1,1,female,47.0,1,1,52.5542,1,S,Mrs,Regular
872,0,1,male,33.0,0,0,5.0000,1,S,Mr,Regular
873,0,3,male,47.0,0,0,9.0000,0,S,Mr,Regular
874,1,2,female,28.0,1,0,24.0000,0,C,Mrs,P/PP
875,1,3,female,15.0,0,0,7.2250,0,C,Miss,Regular
876,0,3,male,20.0,0,0,9.8458,0,S,Mr,Regular
877,0,3,male,19.0,0,0,7.8958,0,S,Mr,Regular
878,0,3,male,NaN,0,0,7.8958,0,S,Mr,Regular
879,1,1,female,56.0,0,1,83.1583,1,C,Mrs,Regular
880,1,2,female,25.0,0,1,26.0000,0,S,Mrs,Regular
881,0,3,male,33.0,0,0,7.8958,0,S,Mr,Regular
882,0,3,female,22.0,0,0,10.5167,0,S,Miss,Regular
883,0,2,male,28.0,0,0,10.5000,0,S,Mr,C.A./SOTON
884,0,3,male,25.0,0,0,7.0500,0,S,Mr,SOTON/OQ
885,0,3,female,39.0,0,5,29.1250,0,Q,Mrs,Regular
886,0,2,male,27.0,0,0,13.0000,0,S,Rev,Regular
887,1,1,female,19.0,0,0,30.0000,1,S,Miss,Regular
888,0,3,female,NaN,1,2,23.4500,0,S,Miss,W./C.
889,1,1,male,26.0,0,0,30.0000,1,C,Mr,Regular
890,0,3,male,32.0,0,0,7.7500,0,Q,Mr,Regular

# Data Analysis

# Data Pre-Processing

In [ ]:
dataset.head(10)

First things first.<br>
Converting all the string variables (excluding name) to categorical variables is an obvious starting point.

Lets take Sex and convert Male to 0 and Female to 1<br>
Male : 0<br>
Female : 1<br>

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Encoding Sex
labelencoder_sex = LabelEncoder()
dataset.loc[:, 'Sex'] = labelencoder_sex.fit_transform(dataset.loc[:, 'Sex'])

# Encoding Embarked
labelencoder_embarked = LabelEncoder()
dataset.loc[:,'Embarked'] = labelencoder_embarked.fit_transform(dataset.loc[:, 'Embarked'])

# Binarizing Embarked because it makes more sense here
#onehotencode_Embarked = OneHotEncoder(categorical_features=[9])
#onehotencode_Embarked.fit_transform(dataset).toarray()